#storeprofile_Container {
  width: 80%;
  margin-left: 20vh;
  margin-right: 20vh;
}
#divback {
  background-color: #864b139f;
}
#storeprofile_ImgPreview {
  border-radius: 65px;
  width: 130px;
  height: 130px;
  margin-left: 20%;
}
#storeprofile_aMarginleft {
  margin-left : 20px;
}
#storeprofile_pMarginTop{
  margin-top : 5%;
}
#FeedImage {
  margin-top : 20%;
  margin-left : 15%;
  margin-bottom : 30%;
  width: 300px;
  height: 300px;
  filter : drop-shadow(3px 3px 3px #484848)
}
#FeedImage:hover {
  margin-top : 17%;
  margin-left : 12%;
  margin-bottom : 30%;
  width: 330px;
  height: 330px;
  filter : drop-shadow(3px 3px 3px #484848);
  transition : all 0.5s;
}
#storeprofile_HrStyle {
  width: 80%;
  margin-left:10%;
}

#storeprofile_ButtonDiv {
  margin-left: 30vw;
}

#btnplus {
  border : 1px solid black;
  width: 20vw;
}

#case2 {
  border : 1px solid black;
  width: 20vw;
}


#storeprofile_modalbox {
  padding: 0;
}
#storeprofile_modalbackground {
  background-color : #864b139f;
}
