#id {
  text-align: center;
  width: 90%;
  display: flex;
}

#blog_contentWrapper {
  list-style-type: none;
  width: 100%;
}

#blogs_item {
background: aliceblue;
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 1200px;
  height: 300px;
  padding-top: 15px;
  padding-left: 1%;
  padding-bottom: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

#blogs_info {
  width: 200px;
  height: 270px;
  /* display: flex; */
  flex-direction: column;
}

@media screen and (max-width: 412px){
  #id {
    text-align: center;
    width: 90%;
    display: flex;
  }
  
  #blog_contentWrapper {
    list-style-type: none;
    width: 100%;
  }
  
  #blogs_item {
  background: aliceblue;
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    height: 100px;
    padding-top: 3%;
    padding-left: 1%;
    padding-bottom: 1%;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
  #blogs_info {
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
  }
  #blogs_img2 {
    width: 100%;
    height: 100%;
  }
}