  #bookmark_contentWrapper {
    list-style-type: none;
    width: 100%;
  }
  
#bookmark_item {
    display: flex;
    align-items: inherit;
    margin: 20px 0;
    padding: 20px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
#bookmark_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
#bookmark_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
