@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(1000px);
  }
}

#like_item {
  align-items: center;
  border-radius: 15px;
  border: 1px solid #ccc;
}

#like-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

#like_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

#likes_userId {
  margin-left: 2%;
  font-size: 40px;
  vertical-align: middle;
}

#likes_follow_button {
  color: blue;
  margin-left: 2%;
  font-size: 15px;
  vertical-align: middle;
}

#likes_img2 {
  width: 100px;
  height: 80px;
  border-radius: 5%;
}

#likes_img3 {
  width: 100%;
  height: 100%;
  padding-right: 5%;
}

#likes_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  padding-bottom: 1%;
}

#like-name {
  width: 70%;
  height: 18px;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

#like-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

#likes_content_form {
  margin-bottom: 3%;
  height: 90px;
}

.likes_detail {
  margin-bottom: auto;
  margin-top: 1%;
  margin-left: 100px;
}

#likes_content{
  font-size: 20px;
}

#likes_cafeName {
  color: blue;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 20px;
  vertical-align: top;
}

#likes_bookmark {
  width: 35px;
  height: 35px;
}

#likes_heart {
  width: 30px;
}

#likes_heart_count {
  margin-left: 10px;
}

@media screen and (max-width: 412px){
  @keyframes loading {
    0% {
      transform: translateX(0);
    }
    50%,
    100% {
      transform: translateX(1000px);
    }
  }
  
  
  #like_item {
    align-items: center;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
  #like-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
    animation: loading 2s infinite linear;
  }
  
  #like_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f2f2f2;
    position: relative;
    overflow: hidden;
  }
  
  #likes_userId {
    margin-left: 2%;
    font-size: 15px;
    vertical-align: middle;
  }
  
  #likes_follow_button {
    color: blue;
    margin-left: 2%;
    font-size: 5px;
    vertical-align: middle;
  }
  
  #likes_img2 {
    width: 20px;
    height: 20px;
    border-radius: 5%;
  }

  #likes_img3 {
    width: 70px;
    height: 85px;
    margin-top: 120%;
    border-radius: 15%;
  }
  
  #likes_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    padding-bottom: 1%;
  }
  
  #likes_content_form {
    margin-bottom: 3%;
    height: 10px;
  }
  
  .likes_detail {
    
    margin-bottom: auto;
    margin-top: 1%;
    margin-left: 70px;
  }
  
  #likes_cafeName {
    color: blue;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 9px;
    vertical-align: top;
  }

  #likes_bookmark {
    width: 13px;
    height: 13px;
    margin-bottom: 50px;
  }

  #likes_heart {
    width: 15px;
  }

  #likes_heart_count {
    margin-left: 5px;
    font-size: 10px;
  }
}
