.input {
  flex: 1;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #969696;
}
.h4 {
  margin-left: 3px;
  color: #484848;
}
#navcolor {
  height: 30px;
  background-color: #4b6b79;
}
#NoBgButton {
  background-color : white;
  border: none;
  color : #1E4DF6;
  font-weight:bold;
}

#NoBgExit {
  margin-right: auto;
  background-color : white;
  border: none;
  color : #484848;
  font-weight:bold;
}
#ModalPadding {
  padding : 0;
}

#EmailMarginLeft  {
  margin-left : 20px;
}

#EmailMarginLeft h4 {
  margin-left : 20px;
  font-weight: bold;
}