.input {
  flex: 1;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #969696;
}
.h4 {
  margin-left: 3px;
  color: #484848;
}
#navcolor {
  border: 0;

  background-color: #864A13;
  opacity: 0.8;
}
#NoBgButton {
  background-color : white;
  border: none;
  color : #1E4DF6;
  font-weight:500;
}

#NoBgExit {
  margin-right: auto;
  background-color : white;
  border: none;
  color : #484848;
  font-weight:500;
}
#ModalPadding {
  padding : 0;
}

#EmailMarginLeft {
  margin-left : 20px;
}