.navcolor_cate {
    border: 0;
    background: #4b6b79;
  }


.LikeCategory_Margin_Underline {
    margin-top: 0%;
    margin-left : 20px;
    text-decoration: underline;
    text-underline-position:under;
}

.LikeCategory_If {
    margin-top: 5%;
}

.NoBgButton {
    background-color : white;
    border: none;
    color : black;
    font-weight:bold;
}