#ProfilePic {
  width: 150px;
  height: 150px;
}

.navcolor {
  height: 30px;
  background-color: #4b6b79;
}

#NoBgButton {
  background-color : white;
  border: none;
  color : #1E4DF6;
  font-weight:500;
}

#NoBgExit {
  margin-right: auto;
  background-color : white;
  border: none;
  color : #484848;
  font-weight:500;
}

.profile_image {
  width: 20%;
  border: 1;
}