#navcolor {
  border: 0;

  background-color: #864A13;
  opacity: 0.9;
}
#NoBgExitTerms {
  margin-right: auto;
  background-color : #864A13;
  border: none;
  color : #484848;
  font-weight:500;
}
#ModalPadding {
  padding : 0;
}

#TermsMarginLeft {
  margin-left : 20px;
}
#TermsMarginUnderline {
  margin-left : 20px;
  text-decoration: underline;
  text-underline-position:under;
}
#TermsMarginX {
  margin-left: 20px;
  margin-right: 20px;
  font-size : 15px;
}
#QlabUnderline {
  text-decoration: underline;
  text-underline-position:under;
  color: #484848
}