@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#footer_container {
  position: relative;
  bottom: 0;
  margin-bottom: -20rem;
  padding: 2rem;
  background-color: #272c34;
}

#footer_logo {
  width: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#footer_logo_name {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
  color: #eeeeee;
}

#footer_logo_description {
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #eee;
}

#footer_hr {
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: #eee;
  width: 768px;
}

#footer_col {
  padding: 1rem;
  color: #eee;
}

#footer_col_title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#footer_col_links {
  color: rgba(238, 238, 238, 0.548);
  text-decoration: none;
  transition: 0.2s ease;
}

#footer_col_links:hover {
  color: #eee;
}

#footer_social {
  width: 100%;
  color: #eee;
}

#footer_social_hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #eee;
}

#footer_social_tags {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footer_social_tags_color{
  color: rgba(238, 238, 238, 0.637);
}

#footer_social_tags_color:hover {
  color: #eee;
}

#footer_social_copyrights {
  color: #eee;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.7rem;
}

/*@media screen and (max-width: 960px) {
  .hr {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: #eee;
    width: 768px;
  }

  #footer_center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .col {
    padding: 1rem;
    color: #eee;
  }

  .social__tags {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .col {
    text-align: center;
    color: #eee;
    justify-content: center;
  }

  .footer__container {
    position: absolute;
    bottom: 0;
    margin-bottom: -40rem;
    padding: 2rem;
    background-color: #272c34;
  }
}*/