#comment_amount {
    font-size: 100%;
    margin-top: 1%;
}

#comment_frame {
    border: 1px solid black;
    height: 300px;
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    overflow-y: scroll;
}

#comments_user {
    font-weight: bold;
    width: 10%;
    font-size: 150%;
}

#comments_content {
    font-size: 100%;
    width: 100%;
    margin-left: 17px;
}

#comment_reply {
    font-size: 100%;
    width: 120%;
}

#comment_delete {
    font-size: 100%;
    width: 200%;
}

#comments_heart {
    width: 20px;
}

#comments_heart_count {
    font-size: 20px;
    width: 20px;
}

/* 대댓글 */

#recomments_frame {
    margin-left: 2%;
}

#recomments_frame2 {
    margin-left: 6.3%;
}

#recomments_parentId {
    font-size: 100%;
    width: 100%;
    margin-left: 10px;
}

#recomments_content {
    font-size: 100%;
    width: 100%;
    margin-left: 2px;
}

/* 입력창 */
#comment_input_frame {
    width: 100%;
    margin-left: 0.3%;
    border-bottom: groove;
}

@media screen and (max-width: 2285px){
    #comment_reply {
        font-size: 80%;
        width: 120%;
    }
    
    #comment_delete {
        font-size: 80%;
        width: 200%;
    }
}

@media screen and (max-width: 2110px){
    
    #recomments_parentId {
        font-size: 100%;
        width: 100%;
        margin-left: 15px;
    }

    #recomments_content {
        font-size: 100%;
        width: 100%;
        margin-left: 5px;
    }
}

@media screen and (max-width: 1770px){

    #comments_content {
        font-size: 100%;
        width: 90%;
        margin-left: 50px;
    }
    
    #recomments_parentId {
        font-size: 100%;
        width: 100%;
        margin-left: 40px;
    }

    #recomments_content {
        font-size: 100%;
        width: 100%;
        margin-left: 50px;
    }

    #recomments_parentId {
        font-size: 100%;
        width: 100%;
        margin-left: 45px;
    }

    #recomments_content {
        font-size: 100%;
        width: 100%;
        margin-left: 60px;
    }
}

@media screen and (max-width: 1390px){
    #comment_reply {
        font-size: 60%;
        width: 200%;
    }
    
    #comment_delete {
        font-size: 60%;
        width: 200%;
    }

    #comments_heart {
        width: 15px;
    }
    
    #comments_heart_count {
        font-size: 15px;
        width: 20px;
    }
}


@media screen and (max-width: 414px){
    #comment_amount {
        font-size: 80%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    #comment_frame {
        border: 1px solid black;
        height: 300px;
        width: 300px;
        padding: 2%;
        border-radius: 10px;
        overflow-y: scroll;
    }
    
    #comments_user {
        font-weight: bold;
        font-size: 10px;
        width:20px;
    }
    
    #comments_content {
        font-size: 10px;
        width: 60%;
        margin-left: 17px;
        width:10px;
    }
    
    #comment_reply {
        font-size: 10px;
        /* width: 60%; */
        width:10px;
    }
    
    #comment_delete {
        font-size: 10px;
        /* width: 200%; */
        width:10px;
    }
    
    #comments_heart {
        /* width: 10px; */width:10px;
    }
    
    #comments_heart_count {
        font-size: 10px;
        /* width: 20px; */width:10px;
    }
    
    /* 대댓글 */
    
    #recomments_frame {
        margin-left: 2%;
    }
    
    #recomments_frame2 {
        margin-left: 6.3%;
    }
    
    #recomments_parentId {
        font-size: 100%;
        width: 100%;
        margin-left: 10px;
    }
    
    #recomments_content {
        font-size: 100%;
        width: 100%;
        margin-left: 2px;
    }
    
    /* 입력창 */
    #comment_input_frame {
        width: 100%;
        margin-left: 0.3%;
        border-bottom: groove;
    }

    .row>* {
        flex-shrink: 0;
        width: 50%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
}