#comment_amount {
    font-size: 100%;
    margin-top: 1%;
}

#comment_frame {
    border: 1px solid black;
    height: 300px;
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    overflow-y: scroll;
}

#comments_user {
    font-weight: bold;
    width: 10%;
    font-size: 150%;
}

#comments_content {
    font-size: 100%;
    width: 100%;
}

#comment_reply {
    font-size: 100%;
    width: 120%;
}

#comment_delete {
    font-size: 100%;
    width: 140%;
}

#comments_heart {
    width: 250%;
}

#comments_heart_count {
    width: 100%;
}

/* 대댓글 */

#recomments_frame {
    margin-left: 2%;
}

#recomments_frame2 {
    margin-left: 6.3%;
}

#recomments_parentId {
    font-size: 100%;
    width: 100%;
    margin-left: -5%;
}

#recomments_content {
    font-size: 100%;
    width: 100%;
    margin-left: -8%;
}

/* 입력창 */
#comment_input_frame {
    width: 100%;
    margin-left: 0.3%;
    border-bottom: groove;
}