#article_back_func {
  /* float: left;  */
  margin-left: 15%;
  margin-top: 1%;
}

#article_back {
  font-size: xxx-large;
}

#article_full_frame {
  height: 1250px; 
  width: 65%;
  margin-top: 1%; 
  margin-bottom: 1%; 
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  background: lavender;
  border-radius: 2%;
}

#article_frame_row {
  border-radius: 10px;
  margin-top: 3%;
  height: 370px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#article_picture {
  width: 350px;
  height: 350px;
  border-radius: 1%;
}

#article_slider_frame {
  height: 400px;
}

.slider{
  width: 350px;
  height: 350px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.slider input[type=radio]{
  display: none;
}

ul.imgs{
  padding: 0;
  margin: 0;
  list-style: none;  
}
ul.imgs li{
  position: absolute;
  left: 0px;
  transition-delay: 1s;
  list-style: none;
  padding: 0;
  margin: 0;
}

.bullets{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}
.bullets label{
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
  background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  left: 0;
  transition: 0.5s;
  z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
  left: 0;
  transition: 0.5s;
  z-index:1;
}

/* #article_picture_frame {
  vertical-align: middle;
  height: 450px;
} */


#article_profile_info {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

#article_profile_prof_img {
  width: 95%;
  height: 120px;
  object-fit: cover;
  margin-top: 20%;
  border-radius: 70%;
}

#article_username {
  align-self: center;
  margin-top: 5%;
  margin-left: 20px;
  font-size: 200%;
  font-weight: bold;
}

#article_profile_date {
  align-self: center;
  margin-right: 5%;
}

#article_profile_date_num {
  font-size: 120%;
}

#article_cafe_name {
  font-size: 130%;
  margin-left: 21%;
  margin-top: -3%;
}

#article_body {
  display: flex ;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

#article_content_frame {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 1%;
  font-size: 100%;
}

#article_content {
  margin: 5%;
}

#article_heart_bookmark_cate{
  width: 80%;
  margin-left: 5%;
}

#article_heart_bookmark_frame {
  display: flex;
  width: 90%; 
  margin-top: 1%;    
  margin-left: auto;
}

#article_heart{
  width: 3%;
  height: 25px;
}

#article_heart_count{
  font-size: 100%;
}

#article_bookmark{
  width: 3%;
  height: 25px;
}

#article_bookmark_count_frame{
  width: 15%;
}

#article_bookmark_count{
  margin-right: 3%;
  margin-left: 8%;
  font-size: 100%;
}

#article_modify_delete_button{
  font-size: 80%;
  height: 80%;
}

#article_category {
  display: flex;
  width: 90%;
  margin-top: 3%;
  margin-left: 10%;
}

#article_category_content {
  margin-right: 3%;
  padding: 1%;
  background-color: aqua;
  font-size: 100%;
  font-weight: bold;
  border-radius: 10%;
}

#article_comment_con {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1650px){
  #article_bookmark_count{
    margin-right: 3%;
    margin-left: 8%;
    font-size: 80%;
  }
  
  #article_modify_delete_button{
    font-size: 80%;
    height: 80%;
  }
}

/* 모바일 */
@media screen and (max-width: 414px){
  #article_back_func {
    /* float: left;  */
    margin-left: 5%;
    margin-top: 1%;
  }
  
  #article_back {
    font-size: xxx-large;
  }
  
  #article_full_frame {
    height: 1200px; 
    width: 380px;
    margin-top: 1%; 
    margin-bottom: 1%; 
    margin-left: 2%;
    border: 2px solid black;
    background: lavender;
    border-radius: 2%;
  }
  
  #article_frame_row {
    border-radius: 10px;
    margin-top: -3%;
    height: 370px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #article_profile_info {
    display: flex;
    margin-top: -8%;
    justify-content: space-between;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #article_profile_prof_img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 70%;
  }
  
  #article_username {
    align-self: center;
    margin-top: 15%;
    margin-left: 20px;
    font-size: 100%;
    font-weight: bold;
  }
  
  #article_profile_date {
    align-self: center;
    margin-top: -10%;
    margin-right: 3%;
  }
  
  #article_profile_date_num {
    font-size: 60%;
  }
  
  #article_cafe_name {
    font-size: 80%;
    margin-left: 27%;
    margin-top: -13%;
  }  
  
  #article_picture {
    width: 270px;
    height: 270px;
    border-radius: 1%;
  }
  
  #article_slider_frame {
    height: 200px;
  }
  
  .slider{
    width: 270px;
    height: 270px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  .slider input[type=radio]{
    display: none;
  }
  
  ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;  
  }
  ul.imgs li{
    position: absolute;
    left: 0px;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
  }
  .bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
  }
  .slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
  }
  .slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
  }
  .slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
  }
  
  .slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
  }
  .slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
  }
  .slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
  }
  .slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
  }  

  
  #article_body {
    display: flex ;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 150px;
    margin-top: -20%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #article_content_frame {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 2%;
    font-size: 70%;
  }
  
  #article_content {
    margin: 5%;
  }
  
  #article_heart_bookmark_cate{
    width: 95%;
    margin-left: -3%;
  }
  
  #article_heart_bookmark_frame {
    display: flex;
    width: 90%; 
    margin-top: 1%;    
    margin-left: auto;
  }
  
  #article_heart{
    width: 20%;
    height: 20px;
  }
  
  #article_heart_count{
    font-size: 11px;
  }
  
  #article_bookmark{
    width: 20%;
    height: 20px;
  }
  
  #article_bookmark_count_frame{
    width: 100%;
  }
  
  #article_bookmark_count{
    margin-right: 3%;
    margin-left: 8%;
    font-size: 11px;
  }
  
  #article_modify_delete_button{
    font-size: 10px;
    height: 20px;
    width: 30px;
  }
  
  #article_category {
    display: flex;
    width: 90%;
    margin-top: 3%;
  margin-left: 10%;
  }
  
  #article_category_content {
    margin-right: 3%;
    padding: 1%;
    background-color: aqua;
    font-size: 11px;
    font-weight: bold;
    border-radius: 10%;
  }
  
  #article_comment_con {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
