#article_full_frame {
  height: 1850px; 
  width: 70%;
  margin-top: 4%; 
  margin-bottom: 2%; 
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  background: lavender;
  border-radius: 2%;
}

#article_frame_row {
  border-radius: 10px;
  height: 700px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  text-align-last: center;
}

#article_picture_frame {
  vertical-align: middle;
  height: 650px;
  vertical-align: middle;
}

#article_picture {
  width: 650px;
  height: 650px;
  border-radius: 1%;
}

#article_profile_info {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

#article_profile_frame {
  border-radius: 50%;
  background-color: rgb(181, 230, 4);
  width: 100px;
  height: 100px;
}

#article_profile_prof_img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#article_username {
  align-self: center;
  margin-left: 10%;
  font-size: 40px;
  font-weight: bold;
}

#article_profile_date {
  align-self: center;
  margin-right: 5%;
}

#article_cafe_name {
  font-size: 25px;
  margin-left: 12%;
}

#article_body {
  display: flex ;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#article_content_frame {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 3%;
}

#article_content {
  margin: 5%;
}

#article_category_content {
  margin-right: 3%;
  padding: 5px;
  border-radius: 10px;
}

#article_heart_bookmark_cate{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#article_heart_bookmark {
  display: flex;
  width: 90%; 
  margin-top: 1%;    
  margin-left: auto;
}

#article_category {
  display: flex;
  width: 90%;
  margin-top: 3%;
  justify-content: right;
}

#article_comment_con {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
