@keyframes loading {
    0% {
      transform: translateX(0);
    }
    50%,
    100% {
      transform: translateX(1000px);
    }
  }
  
#bookmark-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    height: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
  }
  
#bookmark-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
    animation: loading 2s infinite linear;
  }
  
#bookmark-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f2f2f2;
    position: relative;
    overflow: hidden;
  }
  
#bookmark-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
  
#bookmark-name {
    width: 70%;
    height: 18px;
    background: #f2f2f2;
    position: relative;
    overflow: hidden;
  }
  
#bookmark-name::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
    animation: loading 2s infinite linear;
  }
  
#bookmark-email {
    width: 85%;
    height: 18px;
    background: #f2f2f2;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
  }
  
#bookmark-email::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
    animation: loading 2s infinite linear;
  }
  