@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(1000px);
  }
}

#bookmark_item {
  /* display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 20px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  position: relative; */
  display: flex;
  align-items: center;
  margin: 20px 0;
  height: 200px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

#bookmark-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

#bookmark_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

#bookmarks_userId {
  margin-left: 2%;
  font-size: 35px;
  vertical-align: middle;
}

#bookmarks_img2 {
  width: 80px;
  height: 80px;
  border-radius: 5%;
}

#bookmark_info {
  /* width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

#bookmark-name {
  width: 70%;
  height: 18px;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

#bookmark-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

#bookmark-email {
  width: 85%;
  height: 18px;
  background: #f2f2f2;
  margin-top: 3px;
  position: relative;
  overflow: hidden;
}

#bookmark-email::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

#item_categoryList_form {
justify-content: left;
}

#item_categoryList {
  width: 130px;
  height: 40px;
  border: 1px solid black;
  text-align-last: center;
  padding: 0.8%;
  border-radius: 10px;
  margin-right: 2%;
}
