#header_link {
  font-size: 15px;
  font-family: inherit;
  color : black;
  text-decoration: none;
  align-self: center;
}

#header_link_img {
  font-size: 40px;
  font-family: fantasy;
  color : black;
  text-decoration: none;
  margin-left: 2%;
}


#header_profile {
  width:50px;
  border-radius: 50%;
  margin-left:10px;
}

#header_prof_img {
  width:100%;
  height:100%;
  object-fit: cover;
}

#fix_profile_con {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

/* 회원 정보 수정 칸 */
#fix_profile_center{
  margin-top: 8%;
  width: 95%;
}

/* 회원 정보 수정 (왼쪽) */
#fix_profile_left {
  padding: inherit;
  margin-right: 0;
}

#fix_info {
  height: 30px;
  width: 90%;
  margin-bottom: 5%;
}

/* 회원 정보 수정 (오른쪽) */
#fix_profile_right {
  text-align-last: center;
  align-self: center;
  text-align: -webkit-center;
}

#fix_profile_pic {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden; 
}

#modal_title {
  text-decoration: underline;
  text-underline-position:under;
}

#fix_profile_select_pic {
  color: black;
  background: white;
  font-weight: bold;
  border: black;
  width: 70%;
  margin-top: 5%;
}


/* 하단부 버튼 */
#fix_profile_cate {
  color: black;
  background: white;
  font-weight: bold;
  border: none;
  margin-left: 5%;
}

#fix_profile_delete {
  color: red;
  background: white;
  font-weight: bold;
  border: none;
  margin-right: 5%;
}

#fix_profile_goback {
  color: black;
  background: white;
  font-weight: bold;
  border: none;
  margin-left: 5%;
}

#fix_profile_apply {
  color: black;
  background: white;
  font-weight: bold;
  border: none;
  margin-right: 5%;
}

#fix_profile_hr {
  border-color: black;
  background-color: black;
  height: 2px;
}

#fix_profile_navcolor {
  border: 0;
  background: #4b6b79;
  height: 35px;
}

@media screen and (max-width: 412px){
  #header_link {
    font-size: 15px;
    font-family: inherit;
    color : black;
    text-decoration: none;
    align-self: center;
  }
  
  #header_link_img {
    font-size: 40px;
    font-family: fantasy;
    color : black;
    text-decoration: none;
    margin-left: 2%;
  }
  
  
  #header_profile {
    width:50px;
    border-radius: 50%;
    margin-left:10px;
    background-color: rgb(173, 219, 7);
  }
  
  #header_prof_img {
    width:100%;
    height:100%;
    object-fit: cover;
  }
  
  #fix_profile_con {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  
  /* 회원 정보 수정 칸 */
  #fix_profile_center{
    margin-top: 8%;
    width: 95%;
  }
  
  /* 회원 정보 수정 (왼쪽) */
  #fix_profile_left {
    padding: inherit;
    margin-right: 0;
  }
  
  #fix_info {
    height: 30px;
    width: 90%;
    margin-bottom: 5%;
  }
  
  /* 회원 정보 수정 (오른쪽) */
  #fix_profile_right {
    text-align-last: center;
    align-self: center;
    text-align: -webkit-center;
  }
  
  #fix_profile_pic {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden; 
  }
  
  #modal_title {
    text-decoration: underline;
    text-underline-position:under;
  }
  
  #fix_profile_select_pic {
    color: black;
    background: white;
    font-weight: bold;
    border: black;
    width: 70%;
    margin-top: 5%;
  }
  
  
  /* 하단부 버튼 */
  #fix_profile_cate {
    color: black;
    background: white;
    font-weight: bold;
    border: none;
    margin-left: 5%;
  }
  
  #fix_profile_delete {
    color: red;
    background: white;
    font-weight: bold;
    border: none;
    margin-right: 5%;
  }
  
  #fix_profile_goback {
    color: black;
    background: white;
    font-weight: bold;
    border: none;
    margin-left: 5%;
  }
  
  #fix_profile_apply {
    color: black;
    background: white;
    font-weight: bold;
    border: none;
    margin-right: 5%;
  }
  
  #fix_profile_hr {
    border-color: black;
    background-color: black;
    height: 2px;
  }
  
  #fix_profile_navcolor {
    border: 0;
    background: #4b6b79;
    height: 35px;
  }
}