#home_home {
  font-weight: 500;
  background-image: linear-gradient(
    to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,1));
  background-repeat: no-repeat;
  background-size:120%;
}

#home_video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  margin-top: -10%;
  overflow: hidden;
  background-size: cover;
}

#home_text_wrapper h1 {
  color: white;
  margin-top: -3%;
  font-size: 50px;
  text-align: left;
}

#home_text_wrapper h3 {
  color: white;
  margin-left: 5%;
  margin-bottom: 20%;
  font-size: 18px;
  text-align: left;
}

#home_hometitle {
  padding-top: 5%;
  margin-left: 3%;
  font-weight: 700;
  padding-left: 5%;
}

#home_introduce {
  padding-top: 10%;
  margin-left: 3%;
  line-height: 200%;
  opacity: 0.8;
  padding-left: 5%;
}

.section2 {
  padding-top: 5px;
}

.content {
  margin: 10% auto;
}

.mapsearch {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0)10%,
    rgba(255,255,255,0.2)20%,
    rgba(255,255,255,0.4)30%,
    rgba(255,255,255,0.6)40%,
    rgba(255,255,255,0.8)50%,
    rgb(255, 255, 255,1)100%),url("../../../../public/image/map.png");
  background-repeat: no-repeat;
  background-size:110%;
  color:black;
  height:100%;
}

.column {
  padding:1%;
}

.likesearch1 {
  background-color:rgba(255,255,255,0.2),
}

.content {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  box-sizing: vorder-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-around;
}

#home_card {
  transition: all .3s;
  width: 300px;
}

#home_wrapper {
  margin: 60px 10px 10px;
  padding-top: 300px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 20px 10px rgba(25, 25, 25, 0.1);
  transition: ease all 0.3s;
}
#home_wrapper:hover {
  transform: translateY(-10px);
}
#home_wrapper:hover .card_img {
  height: 350px;
}

.color_bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
.color_bg.map {
  background-color: #b82d44;
}
.color_bg.coffee {
  background-color: #172;
}
.color_bg.view {
  background-color: #153a82;
}
.color_bg.study {
  background-color: #3f4a69;
}

#home_card_img {
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: calc(100% - 300px);
  width: 100%;
  height: 300px;
  transition: ease all .3s;
}

#home_cardInfo {
  display: block;
  padding: 20px 10px;
  box-sizing: border-box;
  font-family: "Roboto";
  color: #666;
  text-align: center;
}
#home_cardInfo h5 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
}
#home_cardInfo h6 {
  width: 100%;
  font-size: 15px;
  text-align: center;
}

.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 15px;
}