

#home_home {
  font-weight: 500;
}

#home_section1{
  position: initial;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,1),
    rgba(255,255,255,0)
  );
  /* background-repeat: no-repeat; */
  /* background-size:120%; */
}

#hone_video_bg {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-top: 5%;
}

#home_video {
  width: 100%;
  margin-top: -30%;
  margin-bottom: 3%;
  overflow: hidden;
  background-size: cover;
  z-index: -1;
  position: unset;
}

#home_text_wrapper {
  position: absolute;
  left: 2%;
  top: 15%;
  margin-left: -2%;
}

#home_text_wrapper h1 {
  color: white;
  font-size: 6vmin;
  text-align: left;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#home_text_wrapper h3 {
  color: white;
  /* margin-top: %; */
  font-size: 2.5vmin;
  text-align: left;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#home_hometitle {
  white-space: nowrap;
  padding-top: 5%;
  margin-left: 3%;
  font-weight: 700;
  padding-left: 5%;
}

#home_introduce {
  padding-top: 15%;
  margin-left: 3%;
  line-height: 200%;
  opacity: 0.8;
  padding-left: 5%;
}

/* .section2 {
  margin-top: 1%;
} */

.content {
  margin: 3% auto;
}

.mapsearch {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0)10%,
    rgba(255,255,255,0.2)20%,
    rgba(255,255,255,0.4)30%,
    rgba(255,255,255,0.6)40%,
    rgba(255,255,255,0.8)50%,
    rgb(255, 255, 255,1)100%),url("../../../../public/image/map.png");
  background-repeat: no-repeat;
  background-size:110%;
  color:black;
  height:100%;
}

.column {
  padding:1%;
}

.likesearch1 {
  background-color:rgba(255,255,255,0.2),
}
/* 
.content {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  box-sizing: vorder-box;
  display: flex;
  justify-content: center;
  align-items: center;
} */

#content-section{
  display: flex;
  justify-content: center;
}

#figure {
  width:80%;
  position:relative;
}

#figure > img {
  width:100%;
  min-width: 450px;
  opacity: 0.9;
}

#figure > .content {
  position:absolute;
  right:2%;
  bottom:2%;
  color:white;
  display: inline;
  line-height: 1.5;
}

#heading {
  font-size:6vmin;
  font-weight: 800;
  line-height: 1.5;
}

#subheading {
  font-size:3.5vmin;
  font-weight: 700;
  line-height: 1.5;
}

#link {
  color:#06c;
  cursor: pointer;
  font-weight: 700;
}

@media screen and (max-width: 412px){
  #home_home {
    font-weight: 500;
    background-image: linear-gradient(
      to bottom,
      rgba(255,255,255,0),
      rgba(255,255,255,1));
    background-repeat: no-repeat;
    background-size:120%;
  }
  
  #home_video_bg {
    width: 150%;
    height: 200px;
    
  }
  
  #home_video {
    width: 100%;
    margin-top: -25%;
    margin-left: -15%;
    overflow: hidden;
    background-size: cover;
    z-index: -1;
    position: absolute;
    
  }

  #home_text_wrapper h1 {
    color: white;
    margin-left: -2%;
    font-size: 22px;
    text-align: left;
  }
  
  #home_text_wrapper h3 {
    color: white;
    margin-left: -1%;
    margin-top: -8%;
    font-size: 10px;
    text-align: left;
  }

  #home_hometitle {
    padding-top: 2%;
    margin-left: 3%;
    font-weight: 500;
    padding-left: 5%;
  }
  
  #home_introduce {
    padding-top: 14%;
    margin-left: 3%;
    line-height: 200%;
    opacity: 0.8;
    padding-left: 5%;
  }
}